.nav{
    width:100vw;
    height: 10vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding-inline:5vw;
    padding-block:5px;
    position:fixed;
    left:0;
    z-index:10;
    box-shadow: 0 4px 8px rgb(190, 174, 174);
    
}

.logo{
    height: 55px;
}

.content{
    display: flex;
    gap:6vw;
}

.listItems{
    display: flex;
    list-style: none;
    gap:5vw;
}

.listItem a{
    color:var(--secondary-color);
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 16px;

}
.listItem a:hover{
    border-bottom: 2px solid var(--main-color) ;
}

.icons{
   display: flex;
   gap:3vw;
}

.wishlist{
    /* height: 40px; */
    color:var(--main-color);
    font-size: 28px;
}

.cart{
    color:var(--main-color);
    font-size: 24px;
}

.listIcon, .cancelIcon{
    color:var(--main-color);
    font-size: 26px;
    display: none;
}




@media (max-width:760px){

    .listItems{
        display: none;
        flex-direction: column;
        position: absolute;
        top:10vh;
        right:5vw;
        gap:20px;
        background-color: rgb(255, 253, 236);
        padding-inline: 40px;
        padding-block: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #777565;


    }
    .showListItems{
        display: flex;
    }
    .listIcon, .cancelIcon{
        display:block;
    }

    .icons{
        gap:6vw;
    }



}


@media (max-width:430px) {
    .logo{
        display: none;
    }
    .content{
        width:100vw;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .listItems{
        left:0px;
        right: 60vw;
    }
}
