.container{
    display: flex;
    /* padding-inline:10vw; */
    padding-top:20vh;
    position: relative;

}

.backgroundDiv{
    width: 65vw;
    height: 50vh;
    background-color: white;
    margin-left: auto;
    border-radius: 20px;
    border-top-left-radius: 30vw;
    border-bottom-left-radius: 0;
    padding-block:5vh;
    padding-right:5vw;

}
.content{
    position: absolute;
    top:30vh;
    /* left:10vw; */
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.5px;
    width:45vw;
    font-family: var(--secondary-font);
    font-size:18px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8vh;
    animation: slide 1s ease-in  ;

}

@keyframes slide {
    0%{
        transform: translateX(-400px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.company{
    color:var(--main-color);
    font-size: 20px;
   
    /* animation: colorChange 3s ease-in-out 2s infinite; */
}




.img{
    float:right;
    height: 40vh;
    width:40vh;
    object-fit: cover;
    border-radius: 25px;
    animation: slideImg 1s ease-in-out ;
}

@keyframes slideImg {
    0%{
        transform: translateX(400px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}








@media (max-width:760px) {
    .content{
        width:50vw;
        line-height:21px ;

    }
    .text{
        font-size:13px ;
    }
}



@media (max-width:430px) {
    .container{
        flex-direction: column-reverse;
        align-items: center;
    
    }
    .content{
        position: relative;
        top:0;
        width: 70vw;
        margin-top:30px;
        /* animation-iteration-count: infinite; */

       
    }

    .backgroundDiv{
        margin-left: 0;
        height: 45vh;
    }

    .img{
        width:200px;
        height: 200px;
        object-fit: cover;
        border-radius: 25px;
    
    }



    @keyframes slide {
        0%{
            margin-left: 400px;
            transform: translateX(200px);
            opacity: 0;
        }
        100%{
            /* transform: translateX(0px); */
            opacity: 1;
        }
    }

    @keyframes zoom {
        0%{
            width:10px;
            height: 10px;
            opacity: 0;
        }
        100%{
            width:200px;
            height: 200px;
            opacity: 1;
        }
    }

}