.container{
    width: 80vw;
    background-color: white;
    height: 80px;
    border-radius: 15px;
    position: relative;
    margin-top: 50px;
}

.img{
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    animation:slide 1s ease-in-out;
}

.img1{
   bottom: 0;
   border-radius: inherit;
}
.img2{
   left:25vw ;  

}
.img3{
   bottom: 0;
   right:25vw ;  
}

.img4{
   right: 0;
   border-radius: inherit;

}


.heading{
    position:absolute;
    width: 80vw;
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    height: 80px;
    border-radius: inherit;
    padding-top: 5px;
    font-family: var(--main-font);
    font-size: 40px;
    animation: slideHeading 1s ease-in-out ;     
}




@keyframes slide {
    0%{
        transform: translatex(-10px);
        opacity: 0;
    
    }
    /* 50%{
        transform: translatex(-50px);
         opacity:0;
    } */

    100%{
        opacity:1;
 
    }
}

@keyframes slideHeading {
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}













@media (max-width:760px) {
    .container{
        display: none;
    }
}