:root{
  --bg-color:#FEEFE7;
  --main-color:#D45631;
  --secondary-color:#6EB84C;
  --main-font:'Open Sans', sans-serif;
  --secondary-font:'Nunito', sans-serif;

}
body{
  background-color: #FEEFE7;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
   
}